/* === GLOBAL VARIABLES === */
:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-pink: #EE9972;
  --secondary-lightpink: #FBDABB;
  --secondary-white: #EDEFEE;
  --secondary-black: #333333;

  --font-main: 'Karla', sans-serif;
  --font-heading: 'Markazi Text', serif;
}

/* === RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-main);
  background-color: var(--secondary-white);
  color: var(--secondary-black);
  line-height: 1.5;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  background: var(--primary-yellow);
  color: var(--secondary-black);
  border: none;
  padding: 16px 32px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.btn:hover {
  transform: translateY(-2px) scale(1.03);
  filter: brightness(0.95);
}

/* === CONTAINER === */
.container {
  width: 80%;
  max-width: 1400px;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
}

/* ======================= TABLET ======================= */
@media (max-width: 1024px) {
  .container {
    width: 90%;
    padding: 5 5%;
  }

  /* NAV */
  .nav .container {
    flex-direction: column;
    gap: 16px;
  }

  .nav-links {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }

  /* ABOUT */
  .about .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 16px;
    position: static !important;
  }

  .about-images img {
    position: static !important;
    width: 100% !important;
    max-width: 300px;
    height: auto !important;
    margin: 0 0 16px 0 !important;
  }
}

/* ======================= MOBILE ======================= */
@media (max-width: 600px) {
  .container {
    width: 95%;
    padding: 2.5 2.5%;
  }

  /* NAV */
  .nav .container {
    flex-direction: column;
    gap: 12px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  /* ABOUT */
  .about .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 16px;
    position: static !important;
  }

  .about-images img {
    position: static !important;
    width: 100% !important;
    max-width: 300px;
    height: auto !important;
    margin: 0 0 16px 0 !important;
  }

  /* SPECIAL CARDS */
  .specials-cards {
    flex-direction: column;
    gap: 20px;
  }

  /* FOOTER */
   .footer .container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer div,
  .footer ul {
    align-items: center;
  }

  .footer img {
    margin: 0 auto;
  }

  .footer-bottom {
    font-size: 12px;
    line-height: 1.4;
    margin-top: 20px;
  }
}

/* === COMPONENTS === */

/* Nav */
nav {
  padding: 30px 0;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 34px;
  list-style: none;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--secondary-black);
  font-size: 14pt;
  display: inline-block;
  transition: color 0.5s ease, transform 0.5s ease;
}

.nav-links a:hover {
  color: var(--secondary-pink);
  transform: scale(1.05);
}

/* Hero */
.hero {
  background: var(--primary-green);
  color: var(--secondary-white);
  padding: 64px 0;
}

.hero .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 32px;
}

.hero h1 {
  font-family: var(--font-heading);
  color: var(--primary-yellow);
  font-size: clamp(40px, 6vw, 64px);
  line-height: 1;
  margin-bottom: 8px;
}

.hero h2 {
  font-family: var(--font-heading);
  color: #fff;
  font-size: clamp(20px, 3vw, 28px);
  font-weight: 500;
  margin-bottom: 16px;
}

.hero p {
  color: var(--secondary-white);
  max-width: 30ch;
  font-size: 20px;
  margin-bottom: 24px;
}

.hero img {
  grid-column: 2;
  width: 100%;
  height: 28rem;
  margin-bottom: -6rem;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.15);
  justify-self: end;
}

/* Specials */
.specials {
  padding: 64px 0;
  background: var(--secondary-white);
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.specials-cards {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.special-card {
  background: var(--secondary-white);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.special-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

.special-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.special-card h3 {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-weight: bold;
  font-size: 1.1rem;
}

.special-card h3 span {
  color: var(--secondary-pink);
}

.special-card p {
  padding: 0 16px 8px 16px;
  font-size: 0.9rem;
  color: var(--secondary-black);
  flex-grow: 0;
}

.special-card .special-card-order {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-black);
  cursor: pointer;
  padding: 0 16px 16px 16px;
}

.special-card .special-card-order .scooter {
  display: inline-block;
  font-size: 20px;
  color: black;
  transition: transform 0.6s ease, color 0.3s ease;
}

.special-card .special-card-order:hover .scooter {
  transform: translateX(60px);
  color: var(--primary-green);
}

/* Testimonials */
.testimonials {
  padding-top: 80px;
  padding-bottom: 150px;
  background: var(--secondary-lightpink);
  text-align: center;
}

.testimonials h2 {
  margin-bottom: 32px;
  font-family: var(--font-heading);
  font-size: 32px;
  color: var(--primary-green);
}

.testimonials-cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonial-card {
  background: var(--secondary-white);
  border-radius: 12px;
  padding: 20px;
  flex: 1 1 100px;
  min-width: 100px;
  max-width: 320px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

.testimonial-card-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.testimonial-card-rating .star {
  width: 18px;
  height: 18px;
  object-fit: contain;
  margin-right: 4px;
}

.testimonial-card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.testimonial-card-header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-card-name {
  font-weight: bold;
  font-size: 16px;
  color: var(--secondary-black);
  text-align: left;
}

.testimonial-card p {
  font-size: 14px;
  color: var(--secondary-black);
  text-align: center;
  width: 100%;
}

/* About Section */
.about {
  padding: 64px 0;
  padding-bottom: 120px;
  background: var(--secondary-white);
}

.about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 32px;
}

.about h2 {
  font-family: var(--font-heading);
  color: var(--primary-green);
  font-size: 48px;
  margin-bottom: 8px;
}

.about h3 {
  font-family: var(--font-heading);
  color: var(--secondary-black);
  font-size: 28px;
  margin-bottom: 16px;
}

.about p {
  color: var(--secondary-black);
  max-width: 50ch;
  line-height: 1.6;
  text-align: justify;
}

.about-images {
  position: relative;
  display: flex;
  justify-content: flex-end;
  min-height: 300px;
}

.about-images img:first-child {
  position: absolute;
  top: 80px;
  right: 160px;
  width: 240px;
  height: 300px;
  object-fit: cover;
  object-position: right;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  z-index: 1;
}

.about-images img:last-child {
  position: absolute;
  top: 0px;
  right: 0;
  width: 240px;
  height: 300px;
  object-fit: cover;
  object-position: right;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  z-index: 2;
}

/* Footer */
.footer {
  background: var(--primary-green);
  color: var(--secondary-white);
  padding: 40px 0;
  font-family: var(--font-main);
}

.footer .container {
   display: grid;
  grid-template-columns: auto 1fr 1fr 0fr;
  gap: 40px;
  box-sizing: border-box;
  align-items: start;
}

.footer img {
  max-width: 60px;
  height: auto;
  display: block;
}

.footer div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer h3 {
  font-family: var(--font-heading);
  font-size: 18px;
  margin-bottom: 8px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer ul li a {
  color: var(--secondary-white);
  text-decoration: none;
  transition: color 0.5s ease;
}

.footer ul li a:hover {
  color: var(--secondary-pink);
}

.footer-bottom {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 14px;
  color: var(--secondary-white);
}

/* Booking Form */
.booking-title {
  text-align: center;
  color: var(--primary-green);
  font-family: var(--font-heading);
  margin-top: 10px;
  font-size: 2rem;
}

.booking-form {
  max-width: 500px;
  margin: 40px auto 80px auto;
  padding: 32px;
  background-color: var(--secondary-white);
  border: 1px solid var(--primary-green);
  border-radius: 16px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.2);
}

.booking-form fieldset {
  border: none;
}

.booking-form .field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.booking-form label {
  margin-bottom: 6px;
  font-weight: 600;
  color: var(--primary-green);
}

.booking-form input,
.booking-form select {
  padding: 12px 16px;
  border: 1px solid var(--primary-green);
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--font-main);
}

.booking-form input:focus,
.booking-form select:focus {
  outline: none;
  border-color: var(--primary-yellow);
  box-shadow: 0 0 0 3px rgba(244,206,20,0.2);
}

.booking-form p {
  color: var(--secondary-pink);
  font-size: 0.9rem;
  margin-top: 4px;
}

.booking-form .btn {
  width: 100%;
  margin-top: 12px;
  font-size: 1.1rem;
  border: none;
}

/* Ð¡onfirmedBooking */
.confirmed-booking {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding: 20px;
}

.confirmed-card {
  border: 2px solid var(--primary-green);
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  padding: 40px 30px;
  text-align: center;
  background-color: var(--secondary-white);
}